<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="Python"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="backend"
        excluded="true">
        <dir
          name="api">
          <dir
            name="migrations"/>
          <dir
            name="serializers"/>
          <dir
            name="tests"/>
          <dir
            name="views"/>
        </dir>
        <dir
          name="backend"/>
      </dir>
      <dir
        name="frontend_next">
        <dir
          name="cypress">
          <dir
            name="e2e"/>
          <dir
            name="support"/>
        </dir>
        <dir
          name="node_modules"
          watched="false">
          <file_types>
            <types
              ext=".C"
              type="C++"/>
            <types
              ext=".F"
              type="Fortran"/>
            <types
              ext=".F90"
              type="Fortran"/>
            <types
              ext=".H"
              type="C++"/>
            <types
              ext=".TXT"
              type="Text"/>
            <types
              ext=".a"
              type="Ada"/>
            <types
              ext=".ada"
              type="Ada"/>
            <types
              ext=".adb"
              type="Ada"/>
            <types
              ext=".ads"
              type="Ada"/>
            <types
              ext=".asm"
              type="Assembly"/>
            <types
              ext=".bat"
              type="MSDos Batch"/>
            <types
              ext=".c"
              type="C"/>
            <types
              ext=".cbl"
              type="COBOL"/>
            <types
              ext=".cc"
              type="C++"/>
            <types
              ext=".cgi"
              type="Perl"/>
            <types
              ext=".cjs"
              type="Javascript"/>
            <types
              ext=".cob"
              type="COBOL"/>
            <types
              ext=".cpl"
              type="Jovial"/>
            <types
              ext=".cpp"
              type="C++"/>
            <types
              ext=".cpy"
              type="COBOL"/>
            <types
              ext=".cs"
              type="C#"/>
            <types
              ext=".css"
              type="CSS"/>
            <types
              ext=".cts"
              type="TypeScript"/>
            <types
              ext=".cu"
              type="CUDA"/>
            <types
              ext=".cuh"
              type="CUDA"/>
            <types
              ext=".cxx"
              type="C++"/>
            <types
              ext=".dfm"
              type="Delphi"/>
            <types
              ext=".dpr"
              type="Delphi"/>
            <types
              ext=".f"
              type="Fortran"/>
            <types
              ext=".f03"
              type="Fortran"/>
            <types
              ext=".f77"
              type="Fortran"/>
            <types
              ext=".f90"
              type="Fortran"/>
            <types
              ext=".f95"
              type="Fortran"/>
            <types
              ext=".fmx"
              type="Delphi"/>
            <types
              ext=".for"
              type="Fortran"/>
            <types
              ext=".ftn"
              type="Fortran"/>
            <types
              ext=".gpr"
              type="Ada"/>
            <types
              ext=".h"
              type="C++"/>
            <types
              ext=".hh"
              type="C++"/>
            <types
              ext=".hpp"
              type="C++"/>
            <types
              ext=".htm"
              type="Html"/>
            <types
              ext=".html"
              type="Html"/>
            <types
              ext=".hxx"
              type="C++"/>
            <types
              ext=".inl"
              type="C++"/>
            <types
              ext=".java"
              type="Java"/>
            <types
              ext=".jov"
              type="Jovial"/>
            <types
              ext=".js"
              type="Javascript"/>
            <types
              ext=".m"
              type="Objective-C"/>
            <types
              ext=".mjs"
              type="Javascript"/>
            <types
              ext=".mm"
              type="Objective-C++"/>
            <types
              ext=".mts"
              type="TypeScript"/>
            <types
              ext=".pas"
              type="Pascal"/>
            <types
              ext=".php"
              type="Php"/>
            <types
              ext=".pl"
              type="Perl"/>
            <types
              ext=".plm"
              type="Plm"/>
            <types
              ext=".pm"
              type="Perl"/>
            <types
              ext=".py"
              type="Python"/>
            <types
              ext=".s"
              type="Assembly"/>
            <types
              ext=".sp"
              type="Pascal"/>
            <types
              ext=".sql"
              type="Sql"/>
            <types
              ext=".tcl"
              type="Tcl"/>
            <types
              ext=".ts"
              type="TypeScript"/>
            <types
              ext=".tsx"
              type="TypeScript"/>
            <types
              ext=".txt"
              type="Text"/>
            <types
              ext=".upy"
              type="Python"/>
            <types
              ext=".v"
              type="Verilog"/>
            <types
              ext=".vb"
              type="Basic"/>
            <types
              ext=".vh"
              type="Verilog"/>
            <types
              ext=".vhd"
              type="VHDL"/>
            <types
              ext=".vhdl"
              type="VHDL"/>
            <types
              ext=".xml"
              type="Xml"/>
          </file_types>
        </dir>
        <dir
          name="pages">
          <dir
            name="api"/>
          <dir
            name="projectpage"/>
        </dir>
        <dir
          name="public">
          <dir
            name="styles"/>
        </dir>
        <dir
          name="src">
          <dir
            name="components">
            <dir
              name="1_to_delete">
              <dir
                name="cytoscapeLayouts"/>
              <dir
                name="graphDisplay"/>
            </dir>
            <dir
              name="home">
              <dir
                name="selectExistingProject"/>
            </dir>
            <dir
              name="projectPage">
              <dir
                name="header"/>
              <dir
                name="queryTextbox"/>
              <dir
                name="sideBar">
                <dir
                  name="icons">
                  <dir
                    name="defaultQuery"/>
                  <dir
                    name="importQuery"/>
                  <dir
                    name="reupload"/>
                </dir>
              </dir>
              <dir
                name="visualization">
                <dir
                  name="neovisGraph"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="contexts"/>
          <dir
            name="libs"/>
          <dir
            name="utils">
            <dir
              name="apiCalls">
              <dir
                name="folder"/>
              <dir
                name="foldersQueries"/>
              <dir
                name="project"/>
              <dir
                name="query"/>
            </dir>
            <dir
              name="displayFolderQueries">
              <dir
                name="folderQueryFunctionality"/>
            </dir>
            <dir
              name="popUps"/>
            <dir
              name="queryTextbox"/>
            <dir
              name="sideBar"/>
            <dir
              name="ui"/>
          </dir>
          <dir
            name="views"/>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Python"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo="./."
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <metrics
    declared_in_file_display_mode="no_path"
    file_display_mode="no_path"
    show_declared_in_file="false"
    show_function_parameter_types="false"
    write_column_titles="true"
    add_uniquename_column="false"
    metric_filter="26736"/>
  <python_options
    assume_nearest_matches="false"
    assume_single_choices="false"
    ignore_import_errors_in_try_blocks="false"
    save_comments_associated_with_entities="true"
    use_builtin_standard="true"
    use_installed_standard="false"
    version="Python3"/>
  <reports
    date_stamping="false"
    display_parameters="false"
    index_by_method="false"
    group_by_directory="false"
    filename_mode="short"
    generation_status="needs_generation"
    generation_time="0"
    html_clear_directory="false"
    html_generation="true"
    html_mode="alpha"
    headertext_mode="false"
    headerusertext_mode="false"
    headertext_text="Report generated by Understand"
    headerusertext_text=""
    html_size="250"
    text_clear_directory="false"
    text_generation="true"
    text_mode="single">
    <report
      name="Data Dictionary"
      enabled="true"/>
    <report
      name="File Contents"
      enabled="true"/>
    <report
      name="Program Unit Cross Reference"
      enabled="true"/>
    <report
      name="Object Cross Reference"
      enabled="true"/>
    <report
      name="Type Cross Reference"
      enabled="true"/>
    <report
      name="Macro Cross Reference"
      enabled="true"/>
    <report
      name="Include File Cross Reference"
      enabled="true"/>
    <report
      name="Declaration Tree"
      enabled="true"/>
    <report
      name="Extend Tree"
      enabled="false"/>
    <report
      name="Invocation Tree"
      enabled="false"/>
    <report
      name="Simple Invocation Tree"
      enabled="true"/>
    <report
      name="Imports"
      enabled="true"/>
    <report
      name="With Tree"
      enabled="true"/>
    <report
      name="Simple With Tree"
      enabled="true"/>
    <report
      name="Generic Instantiation"
      enabled="true"/>
    <report
      name="Exception Cross Reference"
      enabled="true"/>
    <report
      name="Renames"
      enabled="true"/>
    <report
      name="Program Unit Complexity"
      enabled="true"/>
    <report
      name="Project Metrics"
      enabled="true"/>
    <report
      name="Program Unit Metrics"
      enabled="true"/>
    <report
      name="File Metrics"
      enabled="true"/>
    <report
      name="File Average Metrics"
      enabled="true"/>
    <report
      name="Fortran Extension Usage"
      enabled="true"/>
    <report
      name="Class Metrics"
      enabled="true"/>
    <report
      name="Class OO Metrics"
      enabled="true"/>
    <report
      name="Implicitly Declared Objects"
      enabled="true"/>
    <report
      name="Uninitialized Items"
      enabled="true"/>
    <report
      name="Unused Objects and Functions"
      enabled="true"/>
    <report
      name="Unused Objects"
      enabled="true"/>
    <report
      name="Unused Types"
      enabled="true"/>
    <report
      name="Unused Program Units"
      enabled="true"/>
    <report
      name="Uses Not Needed"
      enabled="true"/>
    <report
      name="Withs Not Needed"
      enabled="true"/>
  </reports>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="true"
    allow_node_js="true"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="8.3"/>
</project>
