venv/
backend/api/downloads
backend/api/__pycache__/*
backend/backend/__pycache__/*
backend/db.sqlite3
Pipfile
sepenv/
*.DS_Store
backend/api/migrations/*
backend/backend/__pycache__/*
*.pyc
frontend_react_cypher_linter\linter/node_modules
__pycache__
.DS_Store
