asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.4
django-cors-headers==4.3.1
djangorestframework==3.15.1
idna==3.7
interchange==2021.0.4
monotonic==1.6
neo4j==5.19.0
networkx==3.3
packaging==24.0
pansi==2020.7.3
py2neo==2021.2.4
Pygments==2.18.0
pytz==2024.1
requests==2.31.0
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.1