<project>
  <files>
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="components">
        <dir
          name="1_to_delete">
          <dir
            name="cytoscapeLayouts">
            <auto
              name="Layouts.tsx"/>
          </dir>
          <dir
            name="graphDisplay">
            <auto
              name="GraphDataContext.tsx"/>
            <auto
              name="GraphDisplayBox.tsx"/>
            <auto
              name="GraphDisplayBoxContainer.tsx"/>
            <auto
              name="GraphToolBox.tsx"/>
            <auto
              name="GraphToolBoxContainer.tsx"/>
            <auto
              name="GraphType.d.ts"/>
            <auto
              name="UseGraphData.tsx"/>
            <auto
              name="VisualizationBox.tsx"/>
            <auto
              name="utils.ts"/>
          </dir>
        </dir>
        <dir
          name="home">
          <auto
            name="StartNewProject.tsx"/>
          <dir
            name="selectExistingProject">
            <auto
              name="DeleteModal.tsx"/>
            <auto
              name="EditForm.tsx"/>
            <auto
              name="ProjectItem.tsx"/>
            <auto
              name="SelectExistingProject.tsx"/>
          </dir>
        </dir>
        <dir
          name="projectPage">
          <dir
            name="header">
            <auto
              name="Header.tsx"/>
            <auto
              name="ProjectInfoCard.tsx"/>
          </dir>
          <dir
            name="queryTextbox">
            <auto
              name="QueryTextboxAdvanced.tsx"/>
            <auto
              name="QueryTextboxBasic.tsx"/>
          </dir>
          <dir
            name="sideBar">
            <auto
              name="SideBar.tsx"/>
            <dir
              name="icons">
              <auto
                name="CustomIcon.tsx"/>
              <auto
                name="FavouriteIcon.tsx"/>
              <auto
                name="SwitchModeIcon.tsx"/>
              <dir
                name="defaultQuery">
                <auto
                  name="DefaultIcon.tsx"/>
                <auto
                  name="DefaultPopUp.tsx"/>
              </dir>
              <dir
                name="importQuery">
                <auto
                  name="ChooseProject.tsx"/>
                <auto
                  name="ImportIcon.tsx"/>
                <auto
                  name="ImportQueryFolders.tsx"/>
                <auto
                  name="SelectFolderType.tsx"/>
              </dir>
              <dir
                name="reupload">
                <auto
                  name="ReuploadFile.tsx"/>
                <auto
                  name="ReuploadIcon.tsx"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="visualization">
            <dir
              name="neovisGraph">
              <auto
                name="InfoCard.tsx"/>
              <auto
                name="NeoVisToolBox.tsx"/>
              <auto
                name="NeovisComponent.tsx"/>
              <auto
                name="NeovisFunctionalities.ts"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="tableDisplay">
          <auto
            name="TableDisplayBoxContainer.tsx"/>
        </dir>
      </dir>
      <dir
        name="contexts">
        <auto
          name="NeoVisContext.tsx"/>
        <auto
          name="ProjectContext.tsx"/>
        <auto
          name="PropsContext.tsx"/>
        <auto
          name="QueryContext.tsx"/>
      </dir>
      <dir
        name="libs">
        <auto
          name="constants.tsx"/>
        <auto
          name="types.ts"/>
      </dir>
      <dir
        name="utils">
        <dir
          name="apiCalls">
          <dir
            name="folder">
            <auto
              name="fetchFolders.tsx"/>
            <auto
              name="handleDeleteFolder.tsx"/>
            <auto
              name="handleEditFolder.tsx"/>
            <auto
              name="handleSaveFolder.tsx"/>
          </dir>
          <dir
            name="foldersQueries">
            <auto
              name="fetchFoldersQueries.tsx"/>
          </dir>
          <dir
            name="project">
            <auto
              name="fetchProjects.tsx"/>
            <auto
              name="handleDeleteProject.tsx"/>
            <auto
              name="handleEditFileProject.tsx"/>
            <auto
              name="handleEditProject.tsx"/>
            <auto
              name="handleSaveProject.tsx"/>
          </dir>
          <dir
            name="query">
            <auto
              name="fetchDefaultQueries.tsx"/>
            <auto
              name="handleDeleteQuery.tsx"/>
            <auto
              name="handleEditQuery.tsx"/>
            <auto
              name="handleSaveQuery.tsx"/>
          </dir>
        </dir>
        <dir
          name="displayFolderQueries">
          <auto
            name="DisplayFoldersQueries.tsx"/>
          <dir
            name="folderQueryFunctionality">
            <auto
              name="DeleteFolder.tsx"/>
            <auto
              name="DeleteQuery.tsx"/>
            <auto
              name="EditFolder.tsx"/>
            <auto
              name="EditQuery.tsx"/>
            <auto
              name="EditQueryBody.tsx"/>
            <auto
              name="FolderDisplay.tsx"/>
            <auto
              name="QueryDisplay.tsx"/>
          </dir>
        </dir>
        <dir
          name="popUps">
          <auto
            name="InputField.tsx"/>
        </dir>
        <dir
          name="queryTextbox">
          <auto
            name="NatLangBox.tsx"/>
          <auto
            name="NewFolderPopup.tsx"/>
          <auto
            name="SavePopUp.tsx"/>
          <auto
            name="SelectFolder.tsx"/>
          <dir
            name="helpers">
            <auto
              name="errorHandlers.ts"/>
            <auto
              name="parameterReplacers.ts"/>
            <auto
              name="parameterUtils.ts"/>
          </dir>
        </dir>
        <dir
          name="sideBar">
          <auto
            name="QueryIcon.tsx"/>
          <auto
            name="QueryIconButton.tsx"/>
        </dir>
        <dir
          name="ui">
          <auto
            name="UIButton.tsx"/>
          <auto
            name="UIModal.tsx"/>
        </dir>
      </dir>
      <dir
        name="views">
        <auto
          name="Home.tsx"/>
        <auto
          name="ProjectPageView.tsx"/>
      </dir>
    </dir>
  </files>
</project>
