<project>
  <files>
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="Python"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="backend"
        excluded="true">
        <dir
          name="api">
          <auto
            name="__init__.py"/>
          <auto
            name="admin.py"/>
          <auto
            name="apps.py"/>
          <auto
            name="file_services.py"/>
          <dir
            name="migrations">
            <auto
              name="0001_initial.py"/>
            <auto
              name="__init__.py"/>
          </dir>
          <auto
            name="models.py"/>
          <dir
            name="serializers">
            <auto
              name="__init__.py"/>
            <auto
              name="custom_query_serializer.py"/>
            <auto
              name="default_query_serializer.py"/>
            <auto
              name="favorite_query_serializer.py"/>
            <auto
              name="folder_serializer.py"/>
            <auto
              name="project_serializer.py"/>
            <auto
              name="serializers.py"/>
          </dir>
          <auto
            name="services.py"/>
          <auto
            name="test_views.py"/>
          <dir
            name="tests">
            <auto
              name="__init__.py"/>
            <auto
              name="test_default_query.py"/>
            <auto
              name="test_favorite_query.py"/>
            <auto
              name="test_project.py"/>
          </dir>
          <auto
            name="tests.py"/>
          <dir
            name="views">
            <auto
              name="__init__.py"/>
            <auto
              name="custom_query_viewset.py"/>
            <auto
              name="default_query_viewset.py"/>
            <auto
              name="favorite_query_viewset.py"/>
            <auto
              name="folder_viewset.py"/>
            <auto
              name="project_viewset.py"/>
            <auto
              name="table_view.py"/>
            <auto
              name="views.py"/>
          </dir>
        </dir>
        <dir
          name="backend">
          <auto
            name="__init__.py"/>
          <auto
            name="asgi.py"/>
          <auto
            name="settings.py"/>
          <auto
            name="test_settings.py"/>
          <auto
            name="tests.py"/>
          <auto
            name="urls.py"/>
          <auto
            name="wsgi.py"/>
        </dir>
        <auto
          name="manage.py"/>
      </dir>
      <dir
        name="frontend_next">
        <dir
          name="cypress">
          <dir
            name="e2e">
            <auto
              name="ContextChanges.cy.ts"/>
            <auto
              name="LandingPage.cy.ts"/>
            <auto
              name="ProjectPage.cy.ts"/>
            <auto
              name="apiCalls.cy.ts"/>
          </dir>
          <dir
            name="support">
            <auto
              name="commands.ts"/>
            <auto
              name="e2e.ts"/>
          </dir>
        </dir>
        <auto
          name="cypress.config.ts"/>
        <auto
          name="next-env.d.ts"/>
        <auto
          name="next.config.mjs"/>
        <dir
          name="node_modules"
          watched="false">
          <file_types>
            <types
              ext=".C"
              type="C++"/>
            <types
              ext=".F"
              type="Fortran"/>
            <types
              ext=".F90"
              type="Fortran"/>
            <types
              ext=".H"
              type="C++"/>
            <types
              ext=".TXT"
              type="Text"/>
            <types
              ext=".a"
              type="Ada"/>
            <types
              ext=".ada"
              type="Ada"/>
            <types
              ext=".adb"
              type="Ada"/>
            <types
              ext=".ads"
              type="Ada"/>
            <types
              ext=".asm"
              type="Assembly"/>
            <types
              ext=".bat"
              type="MSDos Batch"/>
            <types
              ext=".c"
              type="C"/>
            <types
              ext=".cbl"
              type="COBOL"/>
            <types
              ext=".cc"
              type="C++"/>
            <types
              ext=".cgi"
              type="Perl"/>
            <types
              ext=".cjs"
              type="Javascript"/>
            <types
              ext=".cob"
              type="COBOL"/>
            <types
              ext=".cpl"
              type="Jovial"/>
            <types
              ext=".cpp"
              type="C++"/>
            <types
              ext=".cpy"
              type="COBOL"/>
            <types
              ext=".cs"
              type="C#"/>
            <types
              ext=".css"
              type="CSS"/>
            <types
              ext=".cts"
              type="TypeScript"/>
            <types
              ext=".cu"
              type="CUDA"/>
            <types
              ext=".cuh"
              type="CUDA"/>
            <types
              ext=".cxx"
              type="C++"/>
            <types
              ext=".dfm"
              type="Delphi"/>
            <types
              ext=".dpr"
              type="Delphi"/>
            <types
              ext=".f"
              type="Fortran"/>
            <types
              ext=".f03"
              type="Fortran"/>
            <types
              ext=".f77"
              type="Fortran"/>
            <types
              ext=".f90"
              type="Fortran"/>
            <types
              ext=".f95"
              type="Fortran"/>
            <types
              ext=".fmx"
              type="Delphi"/>
            <types
              ext=".for"
              type="Fortran"/>
            <types
              ext=".ftn"
              type="Fortran"/>
            <types
              ext=".gpr"
              type="Ada"/>
            <types
              ext=".h"
              type="C++"/>
            <types
              ext=".hh"
              type="C++"/>
            <types
              ext=".hpp"
              type="C++"/>
            <types
              ext=".htm"
              type="Html"/>
            <types
              ext=".html"
              type="Html"/>
            <types
              ext=".hxx"
              type="C++"/>
            <types
              ext=".inl"
              type="C++"/>
            <types
              ext=".java"
              type="Java"/>
            <types
              ext=".jov"
              type="Jovial"/>
            <types
              ext=".js"
              type="Javascript"/>
            <types
              ext=".m"
              type="Objective-C"/>
            <types
              ext=".mjs"
              type="Javascript"/>
            <types
              ext=".mm"
              type="Objective-C++"/>
            <types
              ext=".mts"
              type="TypeScript"/>
            <types
              ext=".pas"
              type="Pascal"/>
            <types
              ext=".php"
              type="Php"/>
            <types
              ext=".pl"
              type="Perl"/>
            <types
              ext=".plm"
              type="Plm"/>
            <types
              ext=".pm"
              type="Perl"/>
            <types
              ext=".py"
              type="Python"/>
            <types
              ext=".s"
              type="Assembly"/>
            <types
              ext=".sp"
              type="Pascal"/>
            <types
              ext=".sql"
              type="Sql"/>
            <types
              ext=".tcl"
              type="Tcl"/>
            <types
              ext=".ts"
              type="TypeScript"/>
            <types
              ext=".tsx"
              type="TypeScript"/>
            <types
              ext=".txt"
              type="Text"/>
            <types
              ext=".upy"
              type="Python"/>
            <types
              ext=".v"
              type="Verilog"/>
            <types
              ext=".vb"
              type="Basic"/>
            <types
              ext=".vh"
              type="Verilog"/>
            <types
              ext=".vhd"
              type="VHDL"/>
            <types
              ext=".vhdl"
              type="VHDL"/>
            <types
              ext=".xml"
              type="Xml"/>
          </file_types>
        </dir>
        <dir
          name="pages">
          <auto
            name="_app.tsx"/>
          <auto
            name="_document.tsx"/>
          <dir
            name="api">
            <auto
              name="deleteQuery.ts"/>
          </dir>
          <auto
            name="index.tsx"/>
          <dir
            name="projectpage">
            <auto
              name="index.tsx"/>
          </dir>
        </dir>
        <auto
          name="postcss.config.mjs"/>
        <dir
          name="public">
          <dir
            name="styles">
            <auto
              name="globals.css"/>
            <auto
              name="style.css"/>
          </dir>
        </dir>
        <dir
          name="src">
          <dir
            name="components">
            <dir
              name="1_to_delete">
              <dir
                name="cytoscapeLayouts">
                <auto
                  name="Layouts.tsx"/>
              </dir>
              <dir
                name="graphDisplay">
                <auto
                  name="GraphDataContext.tsx"/>
                <auto
                  name="GraphDisplayBox.tsx"/>
                <auto
                  name="GraphDisplayBoxContainer.tsx"/>
                <auto
                  name="GraphToolBox.tsx"/>
                <auto
                  name="GraphToolBoxContainer.tsx"/>
                <auto
                  name="GraphType.d.ts"/>
                <auto
                  name="UseGraphData.tsx"/>
                <auto
                  name="VisualizationBox.tsx"/>
                <auto
                  name="utils.ts"/>
              </dir>
            </dir>
            <dir
              name="home">
              <auto
                name="StartNewProject.tsx"/>
              <dir
                name="selectExistingProject">
                <auto
                  name="DeleteModal.tsx"/>
                <auto
                  name="EditForm.tsx"/>
                <auto
                  name="ProjectItem.tsx"/>
                <auto
                  name="SelectExistingProject.tsx"/>
              </dir>
            </dir>
            <dir
              name="projectPage">
              <dir
                name="header">
                <auto
                  name="Header.tsx"/>
                <auto
                  name="ProjectInfoCard.tsx"/>
              </dir>
              <dir
                name="queryTextbox">
                <auto
                  name="QueryTextboxAdvanced.tsx"/>
                <auto
                  name="QueryTextboxBasic.tsx"/>
              </dir>
              <dir
                name="sideBar">
                <auto
                  name="SideBar.tsx"/>
                <dir
                  name="icons">
                  <auto
                    name="CustomIcon.tsx"/>
                  <auto
                    name="FavouriteIcon.tsx"/>
                  <auto
                    name="SwitchModeIcon.tsx"/>
                  <dir
                    name="defaultQuery">
                    <auto
                      name="DefaultIcon.tsx"/>
                    <auto
                      name="DefaultPopUp.tsx"/>
                  </dir>
                  <dir
                    name="importQuery">
                    <auto
                      name="ChooseProject.tsx"/>
                    <auto
                      name="ImportIcon.tsx"/>
                    <auto
                      name="ImportQueryFolders.tsx"/>
                    <auto
                      name="SelectFolderType.tsx"/>
                  </dir>
                  <dir
                    name="reupload">
                    <auto
                      name="ReuploadFile.tsx"/>
                    <auto
                      name="ReuploadIcon.tsx"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="visualization">
                <dir
                  name="neovisGraph">
                  <auto
                    name="InfoCard.tsx"/>
                  <auto
                    name="NeoVisContext.tsx"/>
                  <auto
                    name="NeoVisToolBox.tsx"/>
                  <auto
                    name="NeovisComponent.tsx"/>
                  <auto
                    name="NeovisFunctionalities.ts"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="contexts">
            <auto
              name="ProjectContext.tsx"/>
            <auto
              name="PropsContext.tsx"/>
            <auto
              name="QueryContext.tsx"/>
          </dir>
          <dir
            name="libs">
            <auto
              name="interfaces.tsx"/>
            <auto
              name="types.ts"/>
          </dir>
          <dir
            name="utils">
            <dir
              name="apiCalls">
              <dir
                name="folder">
                <auto
                  name="fetchFolders.tsx"/>
                <auto
                  name="handleDeleteFolder.tsx"/>
                <auto
                  name="handleEditFolder.tsx"/>
                <auto
                  name="handleSaveFolder.tsx"/>
              </dir>
              <dir
                name="foldersQueries">
                <auto
                  name="fetchFoldersQueries.tsx"/>
              </dir>
              <dir
                name="project">
                <auto
                  name="fetchProjects.tsx"/>
                <auto
                  name="handleDeleteProject.tsx"/>
                <auto
                  name="handleEditProject.tsx"/>
                <auto
                  name="handleSaveProject.tsx"/>
              </dir>
              <dir
                name="query">
                <auto
                  name="fetchDefaultQueries.tsx"/>
                <auto
                  name="handleDeleteQuery.tsx"/>
                <auto
                  name="handleEditQuery.tsx"/>
                <auto
                  name="handleSaveQuery.tsx"/>
              </dir>
            </dir>
            <dir
              name="displayFolderQueries">
              <auto
                name="DisplayFoldersQueries.tsx"/>
              <dir
                name="folderQueryFunctionality">
                <auto
                  name="DeleteFolder.tsx"/>
                <auto
                  name="DeleteQuery.tsx"/>
                <auto
                  name="EditFolder.tsx"/>
                <auto
                  name="EditQuery.tsx"/>
                <auto
                  name="EditQueryBody.tsx"/>
                <auto
                  name="FolderDisplay.tsx"/>
                <auto
                  name="QueryDisplay.tsx"/>
              </dir>
            </dir>
            <dir
              name="popUps">
              <auto
                name="InputField.tsx"/>
            </dir>
            <dir
              name="queryTextbox">
              <auto
                name="NatLangBox.tsx"/>
              <auto
                name="NewFolderPopup.tsx"/>
              <auto
                name="SavePopUp.tsx"/>
              <auto
                name="SelectFolder.tsx"/>
              <auto
                name="parameterUtils.ts"/>
            </dir>
            <dir
              name="sideBar">
              <auto
                name="QueryIcon.tsx"/>
              <auto
                name="QueryIconButton.tsx"/>
            </dir>
            <dir
              name="ui">
              <auto
                name="FileOpenButt.tsx"/>
              <auto
                name="UIButton.tsx"/>
              <auto
                name="UIModal.tsx"/>
            </dir>
          </dir>
          <dir
            name="views">
            <auto
              name="Header.tsx"/>
            <auto
              name="Home.tsx"/>
            <auto
              name="ProjectPageView.tsx"/>
          </dir>
        </dir>
        <auto
          name="tailwind.config.ts"/>
      </dir>
    </dir>
  </files>
</project>
