.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}

.transparent-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5); /* grey with 50% transparency */
  padding: 20px; /* add some space around the buttons */
}

body {
  background-image: url(/images/cp_bg.jpg);
  /* background-color: #12abdb; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;

  margin: 0;
  padding: 0;
  height: 100vh;
}

.even-element {
  background-color: #b0eff7;
}

.transition-colors {
  transition-property: background-color, color;
}

.duration-500 {
  transition-duration: 0.5s;
}

.ease-out {
  transition-timing-function: ease-out;
}

.hover\:bg-orange-500:hover {
  background-color: orange;
}

.hover\:text-white:hover {
  color: white;
}
